.textHome {
    color: #fa386b;
    text-decoration: none;
}
.icontHome {
    color: #fa386b;
    font-size: 1rem;
}
.textlink {
    text-decoration: none;
    color:grey;
}
.iconlink {
    font-size: 1rem;
}
.asideRow {
    display: flex;
    gap: 1rem;
    margin: 1rem 2rem 0 2rem;
}
aside {
    margin-top: 1srem;
}
.downShop {
    font-size: 1rem;
    color: rgb(135, 134, 134);
    margin-left: 2rem;
}
.downApplication {
    font-size: 1rem;
    color: rgb(135, 134, 134);
}