.header {
    grid-area: header;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 3rem;
    box-shadow: 0 0.1rem 0.3rem #0002;
}

.logo {

}

.user {
    width: 30px;
    border-radius: 50px;
}

.left {
    display: flex;
    align-items: center;
    gap: 1rem;

}

.right {
    display: flex;
    align-items: center;
    gap: 2rem;

}

.btn {
    color: #f95582;
    border-color: #fcd4df;
    background-color: #fff;
    padding: 1px 10px;
}

.menuName {
    font-size: 1.5rem;
}

.link {
    text-decoration: none;
    color: black;
}


