.cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 4.5rem 4.5rem;
    grid-gap: 1.5rem;
}

.card {
    display: flex;
    background-color: #ffffff;
    box-shadow: #5e5e5e 0 0 0 1px;
    border-radius: 0.5rem;
}

.description {
    font-size: 0.8rem;
}

.iconOperation {
    width: 3rem;
    margin: 0.2rem 0.7rem 0 0.2rem;
}

.textOperation {
    margin: 1rem 0 0 1rem;
}

.containerIconOperation {
    width: 3.4rem;
    height: 3.4rem;
    background-color: #f2efef;
    margin: 0.5rem 0 0 0.5rem;
    border-radius: 0.5rem;
}